<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>9 lives</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <header id="header" class="header">
    <div class="container">
      <div class="nav">
        <h1>
          <strong class="topic"> VET CLINIC 9 LIVES</strong>
        </h1>
        <ul class="menu">
          <li><a href="#">Appointments</a></li>
          <li><a href="#">Users</a></li>
          <li><a href="#">Animals</a></li>
        </ul>
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
          log in
        </button>
        <div id="id01" class="modal">
          <form class="modal-content animate" action="/action_page.php">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
            </div>
            <div class="container2">
              <label for="uname"><b>login</b></label>
              <input type="text" placeholder="Enter login" name="login" required>
              <label for="psw"><b>password</b></label>
              <input type="password" placeholder="Enter password" name="psw" required>
              <button type="submit">login</button>
            </div> 
          </form>
        </div>
        <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">
          sign up
        </button>
        <div id="id02" class="modal">
          <form class="modal-content animate" action="/action_page.php">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
            </div>
            <div class="container3">
              <label for="uname"><b>login</b></label>
              <input type="text" placeholder="Enter login" name="login" required>
              <label for="uname"><b>email</b></label>
              <input type="text" placeholder="Enter email" name="email" required>
              <label for="psw"><b>password</b></label>
              <input type="password" placeholder="Enter password" name="psw" required>
              <button type="submit">login</button>
            </div> 
          </form>
        </div>
      </div>      
    </div>
      <div>
        <table class="table" cellspacing="0">
          <tr class="mn">
           <th>APPOINTMENT</th>
          </tr>
          <tr>
           <td class="parametrs">FULL NAME</td>
           <td>
            <input class="enter" name="full name" type="text" />
           </td>
          </tr>
          <tr>
            <td class="parametrs">DATE</td>
            <td>
              <input class="enterdate" type="datetime-local" атрибуты>
            </td>
          </tr>
           <td class="parametrs">ANIMAL</td>
           <td>
            <select class="list" name="animals">
              <option value="1"></option>
              <option value="2">Dog</option>
              <option value="3">Cat</option>
            </select>
           </td>
          </tr>
          <tr>
           <td class="parametrs">COMPLAIN</td>
           <td>
            <input class="enter" name="complain" type="text" />
           </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>
              <button>enroll</button>
            </td>
           </tr>
         </table>
      </div>
      <div>
        <table class="table" cellspacing="0">
          <tr class="mn">
           <th>ANIMAL</th>
          </tr>
          <tr>
           <td class="parametrs">NAME</td>
           <td>
            <input class="enter" name="name" type="text" />
           </td>
          </tr>
          <tr>
            <td class="parametrs">BREED</td>
            <td>
              <input class="enterdate" name="breed" type="text">
            </td>
          </tr>
           <td class="parametrs">USER</td>
           <td>
            <select class="list" name="users">
              <option value="1"></option>
              <option value="2">I</option>
              <option value="3">Not me</option>
            </select>
           </td>
          </tr>
          <tr>
           <td class="parametrs">AGE</td>
           <td>
            <input class="enter" name="age" type="number" />
           </td>
          </tr>
          <tr>
            <td class="parametrs">IMAGE</td>
            <td>
              <input type="file" name="image">
            </td>
           </tr>
          <tr>
            <td>&nbsp;</td>
            <td>
              <button>enroll</button>
            </td>
           </tr>
         </table>
      </div>

      
     

    </div>
  </header>
  <footer id="footer" class="footer">
    <div class="container">

    </div>
  </footer>
</body>
</html>